.subscription {
    border-style: solid;
    border-radius: 10px;
    width: 19.5em;
    text-align: center;
    margin: 1em;
    font-size: 1.3em;
    background-color: lightgray;
    cursor: pointer;
}